bcrypt
email_validator
flask
flask-cors
flask-sqlalchemy
geopy
openpyxl
pg8000
psycopg2-binary
PyJWT
requests
sqlalchemy
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
alembic
bcrypt
fastapi
flask-cors
geopy
httpx
numpy
openpyxl
ortools
pandas
pg8000
pillow
pydantic-settings
PyJWT
requests
uvicorn[standard]
